			body{
				background-image: url(mini_cubes.jpg);
			}
			
			.navig{
				background-color:#179dd7;
				height:80px;
				display:table;
				width:100%;
			}
			
			.navig img{
				display:table-cell;
			}
			
			.navig ul{
				display:table-cell;
				vertical-align:middle;
			}
			
			.navig li{
				display:inline-block;
				margin:10px;
				
				color: white;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				font-family: "Roboto",sans-serif;
			}
			
			.navig li a{
				text-decoration:none;
				color:white;
				font-family: "Roboto",sans-serif;
			}
			
			.navig li a:hover{
				color:#f87458;
			}